In [1]:
# Importing the libraries
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns 
import random
random.seed(7)

In [2]:
# Checking your working directory
os.getcwd() # #os.chdir("PATH")

'/Users/axeljeremy/Drive/STAT-5850/TermProject/WorkDir/PUBG'

In [3]:
# Getting Data
train_dataset = pd.read_csv('./all/train_small.csv')
print(train_dataset.shape)

(444697, 29)

In [4]:
#Removing NAs
train_dataset1 = train_dataset.copy()
train_dataset1 = train_dataset1.dropna()
num_rows = train_dataset1.shape[0]
num_cols = train_dataset1.shape[1]
print(train_dataset1.shape)
print(num_rows, num_cols)

(444697, 29)
444697 29

In [6]:
train_dataset1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4446965 entries, 0 to 4446965
Data columns (total 29 columns):
Id                 object
groupId            object
matchId            object
assists            int64
boosts             int64
damageDealt        float64
DBNOs              int64
headshotKills      int64
heals              int64
killPlace          int64
killPoints         int64
kills              int64
killStreaks        int64
longestKill        float64
matchDuration      int64
matchType          object
maxPlace           int64
numGroups          int64
rankPoints         int64
revives            int64
rideDistance       float64
roadKills          int64
swimDistance       float64
teamKills          int64
vehicleDestroys    int64
walkDistance       float64
weaponsAcquired    int64
winPoints          int64
winPlacePerc       float64
dtypes: float64(6), int64(19), object(4)
memory usage: 1017.8+ MB

In [7]:
train_dataset1.head()

,Id,groupId,matchId,assists,boosts,damageDealt,DBNOs,headshotKills,heals,killPlace,...,revives,rideDistance,roadKills,swimDistance,teamKills,vehicleDestroys,walkDistance,weaponsAcquired,winPoints,winPlacePerc
0,7f96b2f878858a,4d4b580de459be,a10357fd1a4a91,0,0,0.00,0,0,0,60,...,0,0.0000,0,0.00,0,0,244.80,1,1466,0.4444
1,eef90569b9d03c,684d5656442f9e,aeb375fc57110c,0,0,91.47,0,0,0,57,...,0,0.0045,0,11.04,0,0,1434.00,5,0,0.6400
2,1eaf90ac73de72,6a4a42c3245a74,110163d8bb94ae,1,0,68.00,0,0,0,47,...,0,0.0000,0,0.00,0,0,161.80,2,0,0.7755
3,4616d365dd2853,a930a9c79cd721,f1f1f4ef412d7e,0,0,32.90,0,0,0,75,...,0,0.0000,0,0.00,0,0,202.70,3,0,0.1667
4,315c96c26c9aac,de04010b3458dd,6dc8ff871e21e6,0,0,100.00,0,0,0,45,...,0,0.0000,0,0.00,0,0,49.75,2,0,0.1875

In [5]:
# Separating X and y
X = train_dataset1.iloc[:, 3:num_cols-1].values
y = train_dataset1.iloc[:, num_cols-1].values
# y = np.array(y).reshape(-1,1)
print(X.shape)
print(y.shape)

(444697, 25)
(444697,)

In [11]:
train_dataset1['matchType'][0:5]

0    squad-fpp
1    squad-fpp
2          duo
3    squad-fpp
4     solo-fpp
Name: matchType, dtype: object

In [13]:
train_dataset1['matchType'].describe()

count       4446965
unique           16
top       squad-fpp
freq        1756186
Name: matchType, dtype: object

In [10]:
X[0:5,12]

array(['squad-fpp', 'squad-fpp', 'duo', 'squad-fpp', 'solo-fpp'],
      dtype=object)

In [6]:
# Encoding categorical data
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
labelencoder_X_1 = LabelEncoder()
X[:, 12] = labelencoder_X_1.fit_transform(X[:, 12])
print(X.shape)
onehotencoder = OneHotEncoder(categorical_features = [12])
X = onehotencoder.fit_transform(X).toarray()
print(X.shape)

(444697, 25)

/Users/axeljeremy/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/_encoders.py:363: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
/Users/axeljeremy/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/_encoders.py:385: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

(444697, 40)

In [10]:
# # Splitting the dataset into the Training set and Test set
# from sklearn.model_selection import train_test_split
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.9, random_state = 0)

In [8]:
# Fitting XGBoost 
from xgboost import XGBRegressor
model = XGBRegressor()
model.fit(X,y)
print (model)
# classifier = XGBClassifier()
# classifier.fit(X, y)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
       n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

In [ ]:
# # Fitting XGBoost to the Training set
# from xgboost import XGBClassifier
# classifier = XGBClassifier()
# classifier.fit(X_train, y_train)

In [10]:
# Predicting the Test set results
y_pred = model.predict(X)

In [12]:
from sklearn.metrics import mean_absolute_error
mae =  mean_absolute_error(y, y_pred)
mae

0.06911044614871313

In [ ]:
# Applying k-Fold Cross Validation
from sklearn.model_selection import cross_val_score
accuracies = cross_val_score(estimator = classifier, X = X_train, y = y_train, cv = 10)
accuracies.mean()
accuracies.std()

In [ ]:
# # Predicting the Test set results
# y_pred = classifier.predict(X_test)

# # Making the Confusion Matrix
# from sklearn.metrics import confusion_matrix
# cm = confusion_matrix(y_test, y_pred)
# cm

In [ ]:
# tts5535@thor PUBG]$ nohup python3 xgboost-spyder.py &
# [7] 27775
# [tts5535@thor PUBG]$ nohup: ignoring input and appending output to `nohup.out'